* {
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS';
    box-sizing: border-box;
    
}
.about-col-1{
    text-align: center;
}

span{
    color:rgb(151, 33, 141);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 10px 25px;
}
nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 0 10px;
    position: relative;
    text-align: right;
}
nav ul li a:after{
    content: '';
    position: absolute;
    background-color: #f9004d;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}

#about{
    padding: 80px 0;
    background-color: rgb(0, 0, 0);
}
.p{
    color: white;
    text-align: center;
    margin-left: 2vh;
    margin-top: 2vh;
    margin-right: 6vh;
    font-size: larger;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bg-dark {
    background-color: #DFCCFB !important;
}

.card{
    background-color: #FFF3DA !important;
}

.table {
    background-color: #B6E2A1 !important;
}


.add button.btn-primary {
    background-color: #B6E2A1; 
    border-color: #B6E2A1;
    color: black;
}

.mb-3 button.btn-primary {
    background-color: #B6E2A1; 
    border-color: #B6E2A1;
    color: black;
}

.mb-3 button.btn-primary:hover {
    background-color: #B6E2A1; 
    border-color: #B6E2A1;
}


.add button.btn-primary:hover {
    background-color: #B6E2A1; 
    border-color: #B6E2A1;
}



.table-responsive button.btn-success {
    background-color: #BCE29E; 
    border-color: #BCE29E;
    color: black;
}

.table-responsive button.btn-success:hover {
    background-color: #BCE29E; 
    border-color: #BCE29E;

}
.table-responsive button.btn-danger {
    background-color: #FF9B9B; 
    border-color: #FF9B9B;
    color: black;
}


.table-responsive table-hover  {
    background-color: #FF9B9B !important;
}